* {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;

}

/******************** Layout ****************************/


.layout_app {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(blue, pink) !important;
}

/******************** Container ****************************/

.container {
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    background: linear-gradient(blue, pink) !important;
}

/******************** Header ****************************/

.header {
    display: flex;
    margin: 20px auto;
    height: 10vh;
    width: 90vw;
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.1) !important;

    align-items: center;
    justify-content: space-between;
}

.btn_header {
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
    transition: background-color 0.3s linear;
}

.btn_header:hover {
    background-color: rgba(190, 174, 241, 0.45) !important;
}

/******************** Content ****************************/

.content {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row !important;
    height: 80vh !important;
    background-color: rgb(255, 255, 255, 0.1) !important;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.content_active {
    /*display: flex;*/
    height: auto !important;
    background-color: rgb(255, 255, 255, 0.3) !important;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

/******************** Sider ****************************/

.sider{
    opacity: 0;
    width: 0;
    height: auto !important;
    text-align: center;
    transition: all 0.5s linear !important;
}

.sider.open  {
    /*display: flex;*/
    width: 200px !important;
    opacity: 1;
    height: auto !important;
    margin-right: 20px;
    background-color: rgb(255, 255, 255, 0.3) !important;
    border-radius: 20px;
    padding: 0 0;
    text-align: center;
    transition: all 0.5s linear;
}

.sider_nav_links {
    color:#ccc;
    padding-top: 12px;
    list-style-type: none;
    border-bottom: rgb(255, 255, 255, 0.1) solid;
    height: 50px;
    transition: all 0.3s linear;
    font-size: larger;
    font-weight: bold;
}

.sider_nav_links:hover {
    background-color: white;
    border-radius: 20px;
    color: rgb(29, 29, 29, 0.9);
}

/******************* Auth page **************************/

.auth_content {
    margin: 40px auto;
    padding: 20px 80px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_auth {
    display: flex;
    width: 200%;
    flex-direction: column;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
}

.title_auth_page {
    color: #ccc;
}

.input_auth_page {
    width: 35% !important;
    margin-bottom: 10px !important;
}

.btn_auth_page {
    width: 80px;
}


/********************************** Loader ************************************/

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}
.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #fff;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

/************************************** Post Page ******************************************/

.post_page_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.post_container {
    margin: 5px;
    display: flex;
    width: 200px;
    height: 300px;

    border-radius: 20px;
    transition: opacity 0.5s;
    border: 1px solid #ccc;
    flex-direction: column;
}

.post_container:hover {
    opacity: 0.4;
    transition: opacity 0.5s;
}

.post_title {
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: calc(60%);
}

.post_body {
    text-align: center;
    padding: 5px;
}
















